body {
    background-color: #333333;
    color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
strong {
    color: #ffffff;
}
#content {
    width: 640px;
    margin: 0 auto;
}
#ru {
    margin: 1em 0 1em 0;
    font-size: 1.5em;
}
#en {
    margin: 1em 0 1em 0;
    font-size: 1em;
}
#sha256 {
    color: #333333;
    font-size: 0.8em;
}
