<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %logger [%level] %message%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${application.home}/logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${application.home}/logs/application.%d</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %logger [%level] %message %xException%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-PLAY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${application.home}/logs/play.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${application.home}/logs/play.%d</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %logger [%level] %message %xException%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${application.home}/logs/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${application.home}/logs/access.%d</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %logger [%level] %message %xException%n</pattern>
        </encoder>
    </appender>

    <logger name="play" level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-PLAY"/>
    </logger>

    <logger name="application" level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-APPLICATION"/>
    </logger>

    <logger name="access" level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-ACCESS"/>
    </logger>

</configuration>
